h1:hover {
  color: darkmagenta;
  text-decoration: underline;
  background-color: black;
  border: 3px solid darkmagenta;
  padding: 30px;
  text-align: center;
}

h2:hover {
  transform: translateY(-15px);
}

a:active {
  color: fuchsia;
}

input:focus {
  background-color: lemonchiffon;
}
